<a href="https://colab.research.google.com/github/imranttsia/Data-visualization/blob/main/Polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

def random_date():

    month = np.random.randint(1,12)
    if month==2:
         day = np.random.randint(1,28)
    else:
         day = np.random.randint(1,31)
    year  = np.random.randint(1950,2015)
    dt = pd.to_datetime(f"{year}-{month}-{day}")
    return dt

random_date()



no_of_records = 1000
df1 = pd.DataFrame(
    {
        "rollno":np.arange(1,no_of_records+1),
        'name': np.random.choice(['Ali','Hamza','Junaid',"Asif"],no_of_records),
        'fname': np.random.choice(['Ali','Hamza','Junaid',"Asif"],no_of_records),
        'course': np.random.choice(['AI','DS','ML',"Blockchain"],no_of_records),
        'city': np.random.choice(['KHI','ISL','LHR',None],no_of_records),
        'dob': [random_date() for i in range(no_of_records)],
        's1': np.random.randint(1,100, no_of_records),
        's2': np.random.randint(1,100, no_of_records),
        's3': np.random.randint(1,100, no_of_records),
        's4': np.random.randint(1,100, no_of_records),
        's5': np.random.randint(1,100, no_of_records),


    }
)
df1

     rollno    name  fname      course  city        dob  s1  s2  s3  s4  s5
0         1    Asif  Hamza          DS   LHR 1960-09-16  98  69  86  17  61
1         2    Asif  Hamza          AI  None 2009-01-07  16  47  56  19   6
2         3    Asif   Asif          DS   LHR 1981-03-10   2  27  31  50  65
3         4    Asif   Asif          DS  None 1953-05-07  18  75  17  66  31
4         5     Ali   Asif          DS   KHI 1991-05-20  22  15   6  33  27
..      ...     ...    ...         ...   ...        ...  ..  ..  ..  ..  ..
995     996  Junaid   Asif          ML   LHR 1972-07-15  78  26  57  75  53
996     997    Asif    Ali  Blockchain   KHI 1950-08-09  84  32  81  10  67
997     998   Hamza    Ali          DS   ISL 1994-02-01  32  60  74   7  56
998     999  Junaid  Hamza          DS   LHR 1951-02-06  50  68  73  50  91
999    1000  Junaid    Ali          ML   KHI 2013-05-06  76  25  23  46  56

[1000 rows x 11 columns]

In [ ]:
import polars as pl

In [ ]:
df2 = pl.DataFrame(df1)
df2

shape: (1_000, 11)
┌────────┬────────┬────────┬────────────┬───┬─────┬─────┬─────┬─────┐
│ rollno ┆ name   ┆ fname  ┆ course     ┆ … ┆ s2  ┆ s3  ┆ s4  ┆ s5  │
│ ---    ┆ ---    ┆ ---    ┆ ---        ┆   ┆ --- ┆ --- ┆ --- ┆ --- │
│ i64    ┆ str    ┆ str    ┆ str        ┆   ┆ i64 ┆ i64 ┆ i64 ┆ i64 │
╞════════╪════════╪════════╪════════════╪═══╪═════╪═════╪═════╪═════╡
│ 1      ┆ Hamza  ┆ Hamza  ┆ DS         ┆ … ┆ 24  ┆ 58  ┆ 53  ┆ 36  │
│ 2      ┆ Asif   ┆ Hamza  ┆ ML         ┆ … ┆ 40  ┆ 86  ┆ 30  ┆ 48  │
│ 3      ┆ Junaid ┆ Ali    ┆ ML         ┆ … ┆ 77  ┆ 69  ┆ 71  ┆ 60  │
│ 4      ┆ Ali    ┆ Junaid ┆ AI         ┆ … ┆ 86  ┆ 5   ┆ 57  ┆ 15  │
│ …      ┆ …      ┆ …      ┆ …          ┆ … ┆ …   ┆ …   ┆ …   ┆ …   │
│ 997    ┆ Junaid ┆ Hamza  ┆ DS         ┆ … ┆ 26  ┆ 68  ┆ 20  ┆ 65  │
│ 998    ┆ Ali    ┆ Ali    ┆ DS         ┆ … ┆ 62  ┆ 22  ┆ 62  ┆ 1   │
│ 999    ┆ Junaid ┆ Asif   ┆ ML         ┆ … ┆ 53  ┆ 88  ┆ 16  ┆ 68  │
│ 1000   ┆ Asif   ┆ Hamza  ┆ Blockchain ┆ … ┆ 30  ┆ 45  ┆ 9   ┆ 67  │
└────────┴────────┴────────┴────────────┴───┴─────┴─────┴─────┴─────┘

Polors function on dataframe

In [ ]:
%%time
def obtained(sub1,sub2,sub3,sub4,sub5):
    return sub1+sub2+sub3+sub4+sub5

df2[:,"s1":"s5"].apply(lambda x:obtained(*x))

CPU times: user 2.21 ms, sys: 225 µs, total: 2.43 ms
Wall time: 19.7 ms

shape: (1_000, 1)
┌───────┐
│ apply │
│ ---   │
│ i64   │
╞═══════╡
│ 196   │
│ 282   │
│ 318   │
│ 189   │
│ …     │
│ 243   │
│ 222   │
│ 244   │
│ 210   │
└───────┘

In [ ]:
82+17+9+46+54

208

pandas custome function

In [ ]:
%%time
def obtained(sub1,sub2,sub3,sub4,sub5):
    return sub1+sub2+sub3+sub4+sub5

df1.loc[:,"s1":"s5"].apply(lambda x:obtained(*x), axis=1)

CPU times: user 8.91 ms, sys: 0 ns, total: 8.91 ms
Wall time: 8.86 ms

0      331
1      144
2      175
3      207
4      103
      ...
995    289
996    274
997    229
998    332
999    226
Length: 1000, dtype: int64